
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome, Entity Framework welcomes you!</h1><br />
<h1>I'm Rutvik Patel <br />I am student of Computer Engineering Technology- Computing Science of Algonquin College.</h1>

